.App{
  text-align: center;
}

.Pokedex{
  display: flex;
 
  margin: 0 auto;
  flex-wrap: wrap;
  
  max-width: 1500px;
  justify-content: space-evenly;
  
}

.PokeCard{
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  margin-bottom: 35px;
}

.PokeCard h2{
  color: blue;
}
